<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light justify-content-end navbar-style">
        <a class="navbar-brand text-colorSecond" href="#">EXHIBINECTION</a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-stamp"></i>
                <span class="badge badge-light">3</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <%- contents %>

    <!-- Footer banner -->
    <div class="banner-wrap footer-banner-wrap">
      <div class="jumbotron" style="background-image:url(https://hexschool.github.io/webLayoutTraining1st/week6/footer.jpg)">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="display-4">想收到展覽的最新消息嗎?<br>快訂閱我們吧</h2>
            <div class="input-group mt-4">
              <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-colorMain" type="button" id="button-addon2">訂閱</button>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  
      <footer class="footer">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between navbar-style">
          <div class="footer-brand d-flex align-content-center">
            <h6 class="navbar-brand text-colorSecond">EXHIBINECTION</h6>
            <small class="copyright">© 2020. All Rights Reserved.</small>
          </div>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign up</a>
              </li>
            </ul>
          </div>
        </nav>
      </footer>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
  </body>

</html>