<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>

    <!-- Fix -->
    <ul class="fixedIcon">
      <li><a href="#"><img src="assets/images/icon-fb.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/icon-ig.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/icon-line.png" alt=""></a></li>
    </ul>

    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light justify-content-between navbar-style">
        <a class="navbar-brand text-colorSecond" href="#">
          <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA-logo.png" alt="">
        </a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-link">
            <li class="nav-item">
              <a class="nav-link" href="#">課程瑜珈</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">當月課表</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-btn">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-colorMain" href="#">立即預約</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-colorMain" href="#">聯絡我們</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <%- contents %>

      <div class="footer-input">
        <ul class="d-flex justify-content-between">
          <li>
            <h3>現在訂閱，獲得課程優惠碼！</h3>
          </li>
          <li>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">訂閱</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
  
      <footer class="footer d-flex justify-content-between">
          <div class="footer-info">
            <h4>
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png" alt="">
            </h4>
            <ul>
              <li><a href="">課程介紹</a></li>
              <li><a href="">瑜珈空間</a></li>
              <li><a href="">當月課表</a></li>
            </ul>
          </div>
          <div class="footer-copyRight">
            <p>© 2021. All Rights Reserved.</p>
          </div>
          <ul class="footer-icon d-flex">
            <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-fb.svg" alt=""></a></li>
            <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-ig.svg" alt=""></a></li>
            <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg" alt=""></a></li>
          </ul>
      </footer>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
  </body>

</html>