$colorMain : #E31277;
$colorSecond: #630834;

*{
    list-style:none;
    padding:0;
}

a{
    &:hover{
        text-decoration:none;
    }
}

img{
    max-width:100%;
}

.wrapper{
    max-width:1280px;
    width:100%;
    margin:auto;
    @include pad{
        padding:1rem
    }
}

// 標題
@include pad{
 .page-header{
     margin-top: 1rem !important;
 }   
}