$rwd-1024: 1024px;
$rwd-920: 920px;
$rwd-640: 640px;

@mixin setMinRWD($size) {
    @media (min-width: $size) {
        @content
    }
}

@mixin pad {
    @media (max-width: $rwd-920) {
        @content
    }
}

@mixin mobile {
    @media (max-width: $rwd-640) {
        @content
    }
}