
.navbar-style{
    background-color: #F5F0E7;
    padding: 1.5rem;
    .navbar-brand{
        max-width: 7rem;
        margin-left: 1rem;
    }
    .navbar-nav {
        .nav-link {
            position:relative;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
    @include setMinRWD(992px){
        .navbar-collapse{
            position:relative;
            z-index:1;
            width: 100%;
            justify-content: flex-end;
            ul.navbar-link{
                flex: 1;
                justify-content: center;
            }
            ul.navbar-nav-btn{
                li{
                    &+li{
                        margin-left: 1rem;
                    }
                }
                .btn{
                    &:hover{
                        color:$colorSecond
                    }
                }
            }
        }
    }
}