// 右側固定
.fixedIcon{
    position: fixed;
    right: 2rem;
    top: 50%;
    li{
        margin-bottom: 0.5rem;
    }
    .svgColor{
        position: relative;
        left: 0;
        margin-bottom: .1rem;
        filter: drop-shadow($colorMain 80px 0);
        -webkit-filter: drop-shadow($colorMain 80px 0);
    }
    @include pad{
        display: none;
    }
}

// 圖文
.card-wrap{
    margin:1rem 0;
    .card{
        border-color:$colorThird;
        border-radius: 20px;
        overflow: hidden;
        color: $colorMain;
        .card-img-top{
            overflow: hidden;
            img{
                display: block;
                width:100%;
            }
        }
        .card-body{
            font-size: 20px;
            .card-price{
                color:$colorThird;
            }

            .card-price,
            .card-txt{
                margin-bottom: .75rem;
            }
            
            .card-txt{
                font-size: 16px;
            }
        }
        .btn{
            border-radius: 5px;
            &:hover{
                color: $colorMain;
                background: $colorSecond;
            }
        }
    }
}

// 預約內容
.reverstationText{
    color: $colorMain;
}

// 立即預約
.reverstationStyle {
    .card-wrap {
        margin-left:2rem;
        margin-right:2rem;
        li{
            margin: 1rem
        }
    }
    @include pad{
        .card-wrap {
            flex-direction: column;
            .card{
                flex-direction: row;
                &>div{
                    flex:1
                }
                .card-body{
                    text-align: left !important;
                }
                .btn-style{
                    .btn{
                        display: block;
                    }
                }
            }
        }
    }
    @include mobile{
        .card-wrap {
            .card{
                flex-direction: column;
            }
        }
    }
}